%ul{class: "toc #{list_class}"}
  - list.each do |item|
    %li
      - level = item.class.name.downcase
      - item_class = case level
        - when "chapter"
          - "icon-book"
        - when "family"
          - "icon-file"
        - else
          - "icon-tint"

      = link_to level: level, id: item.id do
        %i{class: item_class}
        = item.name
      - children = item.children rescue nil
      - if children && children.any?
        = link_to "#", class: "btn toggle-children" do
          %i.icon-plus
        = render "list", list: children, list_class: "children"
