%article
  - if @level.present?
    %header
      %h1
        = breadcrumb(@item)
        = @item.name
        = link_to_pdf(@item)

    = maj(@item)
    %hr
    = picture_for(@item)
    .description= simple_format @item.description
    = children_for(@item)
    = assessments_for(@item)
    %footer
      = link_if_can "Edit this #{@item.class.name}", :edit, @item, class: "btn btn-warning"
      = new_child_of(@item)
      = link_to toc_path, class: "btn btn-primary" do
        %i.icon-list.icon-white
        Back to Table of Contents

  - else
    %header
      %h1 Table of contents
    %hr
    = render "list", list: @chapters, list_class: ""
    %footer
      - if can? :new, Section
        = link_to new_section_path(parent_id: 1), class: "btn btn-success" do
          %i.icon-white.icon-plus
          New Chapter
