- if @level.present?
  %h1
    = breadcrumb(@item)
    = @item.name
    %small
      = link_to "#" do
        = image_tag("pdficon_large.gif", alt: "PDF Version", title: "PDF Version")
  %hr
  %article
    %p.timestamps
      (Last update:
      %time{datetime: l(@item.updated_at.to_date)}= l(@item.updated_at.to_date, format: :long)
      )

    - if @level == "molecule"
      = image_tag @item.picture.url if @item.picture.present?
    .description= simple_format @item.description
    - if @children && @children.any?
      %h3= @children_title
      = render "list", list: @children, list_class: ""
    - if @level == "molecule" && @item.assessments.any?
      = render "assessments", assessments: @item.assessments
  %footer
    = link_if_can "Edit this #{@item.class.name}", :edit, @item, class: "btn btn-warning"
    - if @children
      = link_to new_polymorphic_path(@item.child_class_name.classify.constantize, "#{@item.child_class_name}_id" => @item.id), class: "btn btn-success" do
        %i.icon-plus.icon-white
        Add #{@item.child_class_name}
      = link_to toc_path, class: "btn btn-primary" do
        %i.icon-list.icon-white
        Back to Table of Contents

- else
  %h1 Table of contents
  %hr
  = render "list", list: @items, list_class: ""
  = link_if_can nil, :new, Chapter
