.fields
  = f.association :measure
  = f.association :species
  = f.input :condition
  = f.input :effet
  = f.input :level
  = f.input :evolution, collection: Assessment::EVOLUTION, as: :radio_buttons, item_wrapper_class: "inline"
  = f.association :reference, label_method: :oldid_or_id, input_html: {class: "span1"}
  = f.input :_destroy, as: :hidden
  = link_to "#", class: "btn btn-danger remove_fields" do
    %i.icon-white.icon-trash
    Remove Assessment
