%h3 Tabulated data
%table.table.table-condensed.table-striped.molecule_assessments
  %tr
    %th{colspan: 2} Measured endpoints
    %th Species
    %th Conditions of exposure
    %th Effect
    %th p Level
    %th Ref.
  - assessments.each do |assessment|
    = content_tag_for :tr, assessment do
      %td= assessment.measure.parent
      %td= assessment.measure
      %td= assessment.species
      %td= assessment.condition
      %td= assessment.effet + " " + assessment.evolution.to_s
      %td= assessment.level
      %td= assessment.reference rescue "-"

  -# assessments.group_by{|a| a.measure.parent}.each do |parent_measure, ass_by_parent_measure|
    - ass_by_parent_measu
      %tr
        %td= parent_measure.name
        %td &nbsp;
        %td &nbsp;
        %td &nbsp;
        %td &nbsp;
        %td &nbsp;
      - ass_by_parent_measure.group_by{|a| a.measure}.each do |measure, ass_by_measure|
        - ass_by_measure.each do |assessment|
          = content_tag_for :tr, assessment do
            %td.measure_name= assessment.measure_name
            %td= assessment.species_name
            %td= assessment.condition
            %td= assessment.effet + " " + assessment.evolution.to_s
            %td= assessment.level
            %td= assessment.reference rescue "-"
