.fields
  = f.association :measure
  = f.association :species
  = f.input :condition
  = f.input :effet
  = f.input :level
  = f.input :evolution, collection: Assessment::EVOLUTION, as: :radio_buttons, item_wrapper_class: "inline"
  .control-group#reference_id_field
    = f.label :reference_description, "Reference"
    .controls
      = f.autocomplete_field :reference_description, autocomplete_reference_description_sections_path, class: "span8"
  = f.input :_destroy, as: :hidden
  = link_to "#", class: "btn btn-danger remove_fields" do
    %i.icon-white.icon-trash
    Remove Assessment
