= content_for :head do
  %script{type: "text/javascript", src: "/javascripts/wymeditor/jquery.wymeditor.min.js"}

= simple_form_for section, html: {class: "form-horizontal", multipart: true} do |form|
  .actions= render 'actions', section: section
  = form.input :parent_id, as: :hidden
  = form.input :name, input_html: {class: "span5"}
  - unless section.new_record? || !section.picture?
    #current_picture
      = image_tag section.picture.url, alt: "Picture", title: "Current picture"
      %label.checkbox
        = form.check_box :delete_picture
        Delete current picture?
  = form.input :picture, as: :file

  = form.input :description, input_html: {class: "wymeditor"}
  - if section.molecule?
    #assessments
      = form.simple_fields_for :assessments do |assessment|
        = render 'assessment_fields', f: assessment
      .links
        = link_to_add_association form, :assessments, class: "btn btn-primary" do
          %i.icon-white.icon-plus
          Add assessment

  .actions= render 'actions', section: section

:coffeescript
  $(".wymeditor").wymeditor
    skin: 'default'
  $('button[type=submit]').addClass('wymupdate')
