%article
  %header
    = breadcrumb(@section, @depth)
    = page_title(@section)
    = maj(@section)
  %hr
  - if @section
    %section.picture= image_tag @section.picture.url if @section.picture?
    %section.description= simple_format @section.description
    %section.assessments= render "assessments", assessments: @section.assessments if @section.molecule? and @section.assessments
  = children_list(@section)
  %footer
    = link_to_edit(@section)
    = link_to_add_child_of(@section)
