%article
  %header
    = breadcrumb(@section, @depth)
    = page_title(@section)
    = maj(@section)
  %hr
  - if @section
    %section.description= simple_format @section.description
    %section.assessments= @section.assessments
  = children_list(@section)
  %footer
    = link_to_edit(@section)
    = new_child_of(@section)
