= simple_form_for reference, html: {class: "form-horizontal", data: {title: form_title}} do |f|
  = f.error_notification if f.error_notification
  = f.input :description, label: "Title"
  = f.input :name, label: "Authors list"
  = f.input :source
  = f.input :url
  .form-actions
    = f.button :submit, disable_with: "Submit", class: "btn-success", name: "_save"
    = button_tag "Cancel", type: :submit, name: "_cancel", class: "btn btn-danger"
