= content_for :head do
  %script{type: "text/javascript", src: "/javascripts/wymeditor/jquery.wymeditor.min.js"}

= simple_form_for chapter, html: {class: "form-horizontal"} do |form|
  = form.input :name, input_html: {class: "span5"}
  = form.input :description, input_html: {class: "wymeditor"}

  .actions
    = button_tag type: :submit, class: "btn btn-success" do
      %i.icon-white.icon-ok
      Save
    = button_tag type: :reset, class: "btn btn-danger" do
      %i.icon-white.icon-remove
      Reset
    = link_to toc_path, class: "btn btn-primary", confirm: "This chapter is not saved, are you sure?" do
      %i.icon-white.icon-list
      Back to List

:coffeescript
  $(".wymeditor").wymeditor
    skin: 'compact'
  $('button[type=submit]').addClass('wymupdate')
