%h1= @chapter

%article
  = simple_format @chapter.description
  - if @chapter.families.any?
    %h2 Chemical families
    = render "shared/toc", list: @chapter.families

%footer
  = link_if_can "Edit", :edit, @chapter, class: "btn btn-warning"
  = link_to new_family_path(chapter_id: @chapter.id), class: "btn btn-success" do
    %i.icon-plus.icon-white
    Add Family
  = link_to toc_path, class: "btn btn-primary" do
    %i.icon-list.icon-white
    Back to Table of Contents
