= link_to "IMMUNOTOXIBASE", root_path, :class => 'brand'
%ul.nav
  %li
    = link_to root_path do
      %i.icon-home.icon-white
      Home
  %li
    = link_to toc_path do
      %i.icon-book.icon-white
      Table of Contents
  %li
    = form_tag sections_path, method: :get, class: "navbar-search pull-left" do
      .input-append
        = text_field_tag :query, params[:query], class: "search-query"
        = button_tag class: "btn btn-primary" do
          %i.icon-white.icon-search

%ul.nav.pull-right
  - if user_signed_in?
    %li
      = link_to admin_path do
        %i.icon-cog.icon-white
        Administration
    %li
      = link_to destroy_user_session_path, method: "delete" do
        %i.icon-user.icon-white
        Logout
  - else
    %li
      = link_to new_user_session_path do
        %i.icon-user.icon-white
        Login
