= link_to "IMMUNOTOXIBASE", root_path, :class => 'brand'
%ul.nav
  %li
    = link_to root_path do
      %i.icon-home.icon-white
      Home
  %li
    = link_to toc_path do
      %i.icon-book.icon-white
      Table of Contents
  %li
    = link_to "/search" do
      %i.icon-search.icon-white
      Search
%ul.nav.pull-right
  - if user_signed_in?
    %li
      = link_to destroy_user_session_path, method: "delete" do
        %i.icon-user.icon-white
        Logout
  - else
    %li
      = link_to new_user_session_path do
        %i.icon-user.icon-white
        Login
